.carousel {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #aaaaaa;
}

.carousel .carousel-background {
  background-color: #207ac4;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 1rem;
}

.carousel .carousel-background div {
  background-color: #333333;
  filter: blur(15px);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.carousel .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333333;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ffffff00;
}

.carousel .carousel-arrow:hover {
  border: 1px solid #ffffff;
  background-color: dodgerblue;
  cursor: pointer;
}

.carousel .carousel-arrow.carousel-left {
  left: 10px;
}

.carousel .carousel-arrow.carousel-right {
  right: 10px;
}

.carousel img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  margin: auto;
  padding: 1rem;
  opacity: 0;
  transition: 1s;
}

.carousel-description {
  width: 100%;
  height: 240px;
  display: table;
}

.carousel-description .carousel-description-details::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  margin: auto auto 1rem auto;
  background-color: dodgerblue;
}

.carousel-description .carousel-description-details {
  display: table-cell;
  position: relative;
  padding: 1rem;
  font-variant: small-caps;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
  text-indent: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.carousel-description .carousel-description-details h3 {
  position: relative;
  margin-bottom: 0.5rem;
  text-shadow: 2px 0px 2px #777777;
  color: #773ed3;
  text-decoration: underline;
  display: inline-block;
  text-indent: 0px;
  cursor: pointer;
}

.carousel-description .carousel-description-details p {
  text-align: center;
}

.carousel-description .carousel-description-details::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: dodgerblue;
}