* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: unset;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /* background-color: #666666; */
  /* background-color: #aaa; */
  background-color: #bbb;
  background-image: radial-gradient(#3333 10%, transparent 11%), radial-gradient(#3333 10%, transparent 11%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-repeat: repeat;
}