.spinner {
  /* border: 1px solid orange; */
  width: 100%;
  height: 100%;
}

.spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.fa-spinner {
  color: #777777;
  font-size: 3rem;
  margin: auto;
}