<footer>
  <div class="footer-social">
    <div><i name="footerSocial" class="fab fa-twitter fa-lg twitter"></i></div>
    <div><i name="footerSocial" class="fab fa-instagram fa-lg"></i></div>
    <div><i name="footerSocial" class="fab fa-facebook-f fa-lg"></i></div>
    <div><i name="footerSocial" class="fab fa-facebook-messenger fa-lg"></i></div>
    <div><i name="footerSocial" class="fas fa-mobile-alt fa-lg"></i></div>
    <div><i name="footerSocial" class="fas fa-envelope-open fa-lg"></i></div>
  </div>
  <div class="footer-links">
    <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
      <li>Link 4</li>
      <li>Link 5</li>
      <li>Link 6</li>
    </ul>
    <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
      <li>Link 4</li>
      <li>Link 5</li>
      <li>Link 6</li>
    </ul>
    <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
      <li>Link 4</li>
      <li>Link 5</li>
      <li>Link 6</li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>copyright <i class="far fa-copyright"></i> 2021 justGreatBeers.com</p>
  </div>
</footer>