html {
  min-height: 100%;
}

body {
  background: linear-gradient(0deg, #b5a1ff 33.3%, #7650ff 66.6%, #410dff 100%);
  background-color: #410dff;
  background-attachment: fixed;
  min-height: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}

.beer-card {
  display: table-cell;
  min-width: 200px;
  background-color: #161616;
  border-radius: 5px;
  padding: 1rem;
}

.beer-card .beer-card-img {
  height: 250px;
  background-color: #aaaaaa;
  text-align: center;
  border-radius: 5px;
}

.beer-card .beer-card-img img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 1rem;
}

.beer-card .beer-card-details {
  color: white;
  font-variant: small-caps;
  text-indent: 16px;
  text-align: justify;
  padding: 1rem 0rem;
}

#beer-card-details-title {
  text-align: center;
  padding-bottom: 0.5rem;
  text-shadow: 2px 0px 2px #777777;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  background-color: #080808;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  /* text-align: left; */
  outline: none;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
}

.active,
.collapsible:hover {
  background-color: #1d5cad;
}

.content {
  /* padding: 0 18px; */
  display: none;
  /* overflow: hidden; */
  background-color: #333333;
}

.beer-card-details-table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem 0.5rem;
  font-size: 82.5%;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.beer-card-details-table thead tr {
  background-color: #333333;
  color: white;
}

.beer-card-details-table tbody tr:nth-child(odd) {
  background-color: #aaaaaa;
}

.beer-card-details-table tbody tr:nth-child(even) {
  background-color: #777777;
}

#back-btn {
  background-color: #ad1d1d;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 1rem;
}

#back-btn:hover {
  background-color: #1dad41;
}

/* .beer-card-details-table tbody tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background-color: #aaaaaa;
}

.beer-card-details-table tbody tr:nth-child(2n) td:nth-child(2n) {
  background-color: #aaaaaa;
}

.beer-card-details-table tbody tr:nth-child(2n + 1) td:nth-child(2n) {
  background-color: #777777;
}

.beer-card-details-table tbody tr:nth-child(2n) td:nth-child(2n + 1) {
  background-color: #777777;
} */
