#nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  /* top: 0; */
  z-index: 19;
  /* height: calc(100vh - 50px); */
  height: 100%;
  /* width: 100%; */ 
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid green; */
  visibility: hidden;
  opacity: 0;
  width: 0%;
  transition: 0s;
  /* transition: visibility 0s, width 1s, opacity 1s !important; */
}

#nav-bar .navigation,
#nav-bar .register {
  /* display: table-cell;
  vertical-align: middle; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 100px;
  width: 100%;
  /* border: 1px solid green; */
}

#nav-bar .register {
  align-items: baseline;
}

/* #nav-bar .navigation ul,
#nav-bar .register ul {
  border: 1px solid red;
} */

/* #nav-bar li:first-child {
  padding-top: 1rem;
  visibility: hidden;
}

#nav-bar li:first-child:hover {
  border: 1px solid #da4b1f;
}
 */
#nav-bar li {
  padding: 0.2rem 1rem;
  border: 1px solid #ffffff00;
}

#nav-bar li:hover {
  /* padding: 0.2rem 0.5rem; */
  border: 1px solid #1f76da;
}