footer {
  background-color: #eeeeee;
  position: relative;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid black;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
}

.footer-social > * {
  position: relative;
  border: 2px solid #ffffff00;
  border-radius: 50%;
  padding: 1.25rem;
}

.footer-social > * > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer-links {
  display: table;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.footer-links ul {
  display: table-cell;
}

.footer-copyright {
  width: 100%;
  padding: 1rem;
  color: #195086;
}

.fa-twitter { color: dodgerblue; }
.fa-instagram { color: #471db9; }
.fa-facebook-f { color: #176cc2; }
.fa-facebook-messenger { color: #0e8328; }
.fa-mobile-alt { color: #070707; }
.fa-envelope-open { color: #777777; }