.modal {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #111111fa;
}

.modal-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
}

.modal-container span {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-container span:hover,
.modal-container span:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-container img {
  padding: 1rem;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  object-fit: contain;
}

.modal-caption {
  font-variant: small-caps;
  text-align: center;
  color: #773ed3;
  text-decoration: underline;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
}

/* Add Animation */
.modal-container img, .modal-caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}