@media only screen and (min-width: 620px) {
  header {
    position: relative;
    padding: 0.5rem 1rem;
    height: calc(50px + 1rem);
  }

  header .header-menu {
    display: none;
  }

  header .header-logo-imgs {
    margin: 0;
  }

  #nav-bar {
    height: unset;
    flex-direction: unset;
    visibility: visible !important;
    opacity: 1 !important;
    width: 100% !important;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #333333;
    box-shadow: 0px 3px 3px #333333;
    text-shadow: 0px 2px 2px black;
    transition: 0s !important;
  }

  #nav-bar .navigation {
    justify-content: flex-start;
  }

  #nav-bar .register {
    justify-content: flex-end;
  }

  #nav-bar ul {
    display: flex;
    font-weight: bold;
    text-align: center;
    font-size: 80%;
    color: white;
  }

  #nav-bar ul li {
    position: relative;
    padding: 0.5rem;
    white-space: nowrap;
  }

  #nav-bar ul li:hover {
    border: 1px solid #ffffff00;
    background-color: #222222;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  #nav-bar ul li:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    background-color: orange;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-name: grow;
  }

  .carousel-wrapper {
    padding: unset;
  }

  @keyframes grow {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }
}